<!DOCTYPE html>
<html lang="en">


<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <title>MOM PDF</title>
  <style>
    .table-dark {
      --bs-table-bg: rgb(244, 243, 255);
      --bs-table-striped-bg: #2c3034;
      --bs-table-striped-color: #fff;
      --bs-table-active-bg: #373b3e;
      --bs-table-active-color: #fff;
      --bs-table-hover-bg: #323539;
      --bs-table-hover-color: #fff;
      color: #000000;
      border-color: #505053;
    }

    .table {

      border-color: #505053;
    }


    .page {
      page-break-after: always;
    }

    @media print {
      .page {
        page-break-after: always;
      }

      .table td {

        font-size: 12px;
      }

      .logo-header {
        padding-bottom: 20px;
      }

      .container {
        padding-bottom: 100px;
      }

      .logo-boarder {
        width: 100%;
        height: 5px;
        margin-top: 20px;
        background: rgb(9, 9, 121);
        background: linear-gradient(90deg,
            rgba(92, 60, 191, 1) 35%,
            rgba(158, 119, 236, 1) 100%);
      }

      .table-heading {
        font-size: 16px !important;
        font-weight: 500 !important;
      }

      @page {
        size: A4 portrait;
        margin-top: 60px;
      }

      body {
        margin: 20px;
        margin-bottom: 20px !important;
      }

      .word-break {
        word-wrap: break-word;
        white-space: initial;
      }

      /* Debasis Behera */
      .text-editor {
        height: auto;
        max-height: auto;
        overflow: auto;
        padding-right: 10px;
        padding: 5px;
        overflow-y: auto;
      }

      /* .text-editor {
      max-height: 300px;
      /* Adjust based on your needs */
      /* overflow-y: auto;
      padding: 5px;
      border: 1px solid #ccc; */
      /* Optional border for clarity */


      .text-editor::-webkit-scrollbar {
        width: 6px !important;
        border-radius: 40px !important;
      }

      .text-editor::-webkit-scrollbar-thumb {
        background: #0f8f92 !important;
        border-radius: 40px !important;
      }

      .text-editor::-webkit-scrollbar-track {
        background-color: #d9d9d9 !important;
        border-radius: 40px !important;
      }

      .text-editor h1,
      .text-editor h2,
      .text-editor h3,
      .text-editor h4,
      .text-editor h5,
      .text-editor h6 {
        font-weight: normal;
        font-size: 16px;
      }

      .text-editor ul, .text-editor ol {
        padding: 0;
        list-style: none;
        padding-left: 16px;
      }
     

      .text-editor ul li, .text-editor ol li {
        font-size: 14px;
        list-style: disc;
        margin-bottom: 10px;
      }
      .text-editor ul li:last-child, .text-editor ol li:last-child {
        margin-bottom: 0px;
      }

      .text-editor li,
      p,
      span,
      strong,
      b {
        font-size: 14px;
      }


      .description-title {
        margin-top: 10px !important;
      }

      th {
        background-color: #4CAF50;
        /* Modify this color */
        color: white;
        padding: 10px;
      }

      table,
      th,
      td {
        page-break-inside: auto;
      }

      table,
      th,
      td {
        border: 1px solid black;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }

      /*        
        table, th, td {
  page-break-inside: avoid;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
} */

.text-editor {
  max-height: auto; /* Or a specific height if needed */
  overflow: auto;
  word-wrap: break-word;
  page-break-inside: auto;
}
.page {
  page-break-before: auto;
}

.agenda {
  break-inside: avoid;
}

.padding {
  padding: 0 0 10px 0;
}

@media print {
  table {
    border-spacing: 0; /* Ensure no gaps between cells */
  }

  td, th {
    border: 1px solid black; /* Ensure a visible border on all cells */
    box-sizing: border-box; /* Prevent width issues due to borders */
  }
  .text-editor ul, .text-editor ol {
        padding: 0;
        list-style: none;
        padding-left: 16px;
      }
  .text-editor ul li, .text-editor ol li {
    font-size: 14px;
    list-style: disc;
    margin-bottom: 10px;
  }
  .text-editor ul li:last-child, .text-editor ol li:last-child {
    margin-bottom: 0px;
  }
}
.detail-date-time {
  font-size: 12px;
  font-weight: 400;
}
.td-fontsize{
  font-size: 14px !important;
}

table {
  border-collapse: collapse; /* Ensures borders touch with no gaps */
}
td {
  padding: 0; /* Resets padding */
  margin: 0; /* Resets margin */
}
p {
  margin: 0; /* Removes margin */
  padding: 0; /* Removes padding */
}
  </style>
</head>

<body>
  <div class="container">
    <div class="page">

      <div class="logo-header">
        <div class="d-flex justify-content-between align-items-center">
          <!-- <img width="200px" src="https://mom.ntspl.co.in/static/media/meeting-plus-logo.6a89795660435c43efd306e482632f36.png" /> -->
          <!-- <img width="200px" src="https://mom.ntspl.co.in/static/media/MinutesPlusVaultLogo.png" /> -->
          <img width="200px"
            src="https://mom.ntspl.co.in/static/media/minutes-vault-logo-2.7a317408f1be8530f6ae8f26d519e203.svg" />
          <span>
            <%= commonHelper.formatDateTimeFormat(momCreationDate).formattedDate %>
          </span>
        </div>
        <div class="logo-boarder"></div>
      </div>
      <h1 class="text-center fs-5 text mt-4">Minutes of Meeting</h1>
      <table class="table table-bordered mt-3">
        <thead class="table-dark">
          <tr>
            <td colspan="4" class="fw-bolder fs-3 text table-heading">Meeting Summary</td>
          </tr>
        </thead>
        <tr>
          <td class="fw-bolder" width="150px">Meeting Title </td>
          <td colspan="3" class="td-fontsize">
            
              <%=meetingData?.meetingDetail?.title%>
          
          </br><span class="detail-date-time ">
            <span style="font-weight: bold;font-size:12px;">Meeting ID:</span> <%=meetingData?.meetingDetail?.meetingId%>
            </span>
          </td>
        </tr>
        <tr>
          <td class="fw-bolder" width="150px">Date & Time</td>
          <td>
            <span>
              <%= commonHelper.formatDateTimeFormat(meetingData.meetingDetail?.date).formattedDate %> ,
                <%=meetingData.meetingDetail?.fromTime%> to <%= meetingData.meetingDetail?.toTime %>
            </span>

          </td>
          <td class="fw-bolder" width="130px">Meeting Mode</td>
          <td>
            <span>
              <%= commonHelper.convertFirstLetterOfFullNameToCapital(meetingData?.meetingDetail?.mode)%>
            </span>
          </td>
        </tr>
        <tr>
          <td class="fw-bolder" width="150px">Location</td>
          <td colspan="3">
            <span>
              <%= meetingData.meetingDetail?.locationDetails.isMeetingRoom==true ?
                meetingData.meetingDetail?.roomDetail[0]?.title+ ", " +
                meetingData?.meetingDetail?.roomDetail[0]?.location :
                meetingData.meetingDetail?.locationDetails.location %>
            </span>
          </td>
        </tr>
      </table>

      <table class="table table-bordered mt-3">
        <thead class="table-dark">
          <tr>
            <td colspan="3" class="fw-bolder fs-5 text table-heading">Attendance</td>
          </tr>
          <tr>
            <td class="fw-bolder" width="20px">#</td>
            <td class="fw-bolder">Name & Email</td>
            <td class="fw-bolder">Attendance</td>
          </tr>
        </thead>

        <tbody>
          <% meetingData?.meetingDetail?.attendees?.map((attendee, index)=> {
            %>
            <tr>
              <td>
                <span>
                  <%= index+1 %>
                </span>
              </td>
              <td>
                <span>
                  <%= attendee?.name %>

                    (<%= attendee?.email %>)
                </span>

              </td>
              <td>
                <span>
                  <%= attendee?.isAttended?"Present":"Absent" %>
                </span>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
      <p class="mt-5">Dear Sir/Madam,</p>
      <p>
        With reference to the meeting held on <%= commonHelper.formatDateTimeFormat(meetingData.meetingDetail?.date)
          .formattedDate %>, please find the below points for your reference.
      </p>
      <% meetingData?.agendaDetails?.map((agenda,index)=> { %>
          <table class="table table-bordered align-middle" >
           
                 <thead>
                  
                    <tr class="table-dark">
                      <td colspan="5" class="fw-bolder fs-5 text table-heading">
                        Agenda Title (<%= index +1%>)
                      </td>
                    </tr>

                    <tr>
                      <td colspan="5" class="td-fontsize">
                       
                          <%=agenda.title %>
                       
                      </td>
                    </tr>
                  </thead>
          
                  <% if (agenda.topic) { %>
                  
                      <tr class="table-dark">
                        <td colspan="5" class=" fs-5 text table-heading">
                          Topic To Discuss
                        </td>
                      </tr>
                    <tr>
                    
                      <td
    colspan="5"
    class="td-fontsize"
    >
 
                        <div class="text-editor">
  
      <%- agenda.topic.replace(/<\/?h[1-6]>/g, (match) => {
        return match.startsWith('</') ? '</p>' : '<p>' ; }).replace(/<br\s*\/?>/g, '').replace(/<\/p>(?!.*<\/p>)/, '</span>').replace(/<p>(?!.*<p>)/, '<span>'); %>
</div>
                      </td>
                    </tr>
                    
                    <% } %>
                      
                  
                          <tr class="table-dark">
                            <% if(agenda?.minutesDetail?.length!==0) { %>
                              <td class="fw-bolder" width="20px">#</td>
                              <td class="fw-bolder">Minutes</td>
                              <td class="fw-bolder" width="180px">Responsible Person</td>
                              <td class="fw-bolder" width="110px">Due Date</td>
                              <td class="fw-bolder" width="70px">Priority</td>
                              <% } else { %>
                                <td style="text-align: center;">No Minute Created</td>
                                <% } %>
                          </tr>
                         
                      
                       
                          <% agenda?.minutesDetail ?.filter((item)=> item.isActive === true)
                            .map((minute, index) => { %>
                            <tr>
                              <td class="fw-bolder" width="30px">
                                <%= index+1 %>
                              </td>
                              <td class="td-fontsize">

                                <span class="fw-bolder">
                                  Minute Title</span>
                                <br>
                                 <span><%=minute.title %></span> 
                                 <br>
                                 <br>
                                <span class="fw-bolder">
                                  Minute Description
                                </span>
                                <br>
  

<div class="text-editor">
  
  <%- minute.description.replace(/<\/?h[1-6]>/g, (match) => {
    return match.startsWith('</') ? '</p>' : '<p>' ; }).replace(/<br\s*\/?>/g, '').replace(/<\/p>(?!.*<\/p>)/, '</span>').replace(/<p>(?!.*<p>)/, '<span>'); %>
</div>
                              </td>
                              <td width="180px" class="word-break">
                                <span>
                                  <%= minute?.assignedUserDetails?.name && minute.isAction ?
                                    commonHelper.convertFirstLetterOfFullNameToCapital(minute ?.assignedUserDetails
                                    ?.name) :"NA" %>
                                    <%= minute?.assignedUserDetails?.name && minute.isAction ?`(${minute
                                      ?.assignedUserDetails ?.email})`:null %>
                                </span>

                               

                                <!-- <%= minute
                ?.assignedUserDetails ?.email && minute.isAction ? (minute
                ?.assignedUserDetails ?.email):null %> -->
                              </td>
                              <td width="110px">
                                <span>
                                  <%= minute.isAction?commonHelper.formatDateTimeFormat( minute?.dueDate
                                    ).formattedDate:"NA" %>
                                </span>
                              </td>
                              <td width="70px">
                                <span>
                                  <%=
                                    minute.isAction?commonHelper.convertFirstLetterOfFullNameToCapital(minute.priority):"Low"%>
                                </span>

                              </td>
                            </tr>
                            <% }); %>
                            <tfoot>
    <tr>
    
    </tr>
  </tfoot>
              </table>

              <% }); %>



                <!-- <footer style="text-align: center;">
    <p>© 2024 NTSPL MinutesVault | All Rights Reserved.</p>
   
  </footer> -->
                <!-- Optional JavaScript; choose one of the two! -->

                <!-- Option 1: Bootstrap Bundle with Popper -->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                  crossorigin="anonymous"></script>

                <!-- Option 2: Separate Popper and Bootstrap JS -->
                <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
                <!-- Code injected by live-server -->

    </div>
  </div>
</body>

</html>